body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#main {
    width: 100%;
    height: 100vh;
}
* {
    box-sizing: border-box;
}
