.login {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('https://parrotsoftware.io/Portales/include/images/RESTAURANTE_BACKGROUND_ASSET.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .login-panel {
            width: 320px;
            height: 400px;
            padding: 15px;
            background-color: #ffffff;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .logo {
                width: 126px;
                height: 126px;
                background-color: #22214f;
                border-radius: 50%;
                background-image: url('https://parrotsoftware.io/Portales/include/images/EMBLEMA_PARROT-05.png');
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 0;
                position: absolute;
                margin-top: -400px;
            }
            h3 {
                color: #22214f;
                font-size: 20px;
                font-weight: bold;
                line-height: 19px;
                text-transform: uppercase;
            }
            label {
                align-self: flex-start;
                height: 15px;
                width: 104px;
                color: #535454;
                font-size: 12px;
                font-weight: bold;
                line-height: 15px;
            }
            input {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                background-color: #fff;
                background-image: none;
                border: 1px solid #dde2e8;
                border-radius: 4px;
            }
            button {
                height: 41px;
                width: 100%;
                border-radius: 6px;
                background-color: #ff4845;
                color: #ffffff;
                font-size: 14px;
                text-align: center;
                border: none;
            }
        }
    }
}
