.menu {
    ul {
        li {
            ul {
                li {
                    cursor: pointer;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 100px;
                    }
                    p {
                        padding: 16px;
                        display: inline-block;
                    }
                    input {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
